USE [VinceSweetsDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 1/12/2026 8:44:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 1/12/2026 8:44:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK__Categori__3214EC07B789A350] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 1/12/2026 8:44:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[ProductName] [nvarchar](100) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [decimal](18, 0) NOT NULL,
	[IsServed] [bit] NOT NULL,
 CONSTRAINT [PK__OrderDet__3214EC07875E3983] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 1/12/2026 8:44:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderNumber] [int] NOT NULL,
	[OrderDate] [datetime] NULL,
	[TotalAmount] [decimal](18, 0) NULL,
	[OrderStatus] [nvarchar](50) NULL,
	[TableId] [int] NULL,
 CONSTRAINT [PK__Orders__3214EC07460B37B2] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 1/12/2026 8:44:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Price] [decimal](18, 0) NOT NULL,
	[ImagePath] [nvarchar](max) NULL,
	[IsKitchenItem] [bit] NULL,
	[CategoryId] [int] NULL,
	[IsAvailable] [bit] NOT NULL,
 CONSTRAINT [PK__Products__3214EC07C4D9C222] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RestaurantTables]    Script Date: 1/12/2026 8:44:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RestaurantTables](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TableNumber] [int] NOT NULL,
	[TableName] [nvarchar](100) NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK__Restaura__3214EC0742A7C085] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 1/12/2026 8:44:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](max) NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[SecurityQuestion] [nvarchar](max) NOT NULL,
	[SecurityAnswerHash] [nvarchar](max) NOT NULL,
	[Role] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260103150836_InitialCreate', N'8.0.22')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260111123838_AddUserTable', N'8.0.22')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260112170418_EditProducts', N'8.0.22')
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [Name]) VALUES (1, N'وافل')
INSERT [dbo].[Categories] ([Id], [Name]) VALUES (2, N'كريب')
INSERT [dbo].[Categories] ([Id], [Name]) VALUES (3, N'بان كيك')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetails] ON 

INSERT [dbo].[OrderDetails] ([Id], [OrderId], [ProductId], [ProductName], [Quantity], [Price], [IsServed]) VALUES (1, 2, 6, N'وافل كلاسيك (عسل)', 1, CAST(4000 AS Decimal(18, 0)), 1)
INSERT [dbo].[OrderDetails] ([Id], [OrderId], [ProductId], [ProductName], [Quantity], [Price], [IsServed]) VALUES (2, 2, 5, N'وافل بستاشيو', 2, CAST(7000 AS Decimal(18, 0)), 1)
INSERT [dbo].[OrderDetails] ([Id], [OrderId], [ProductId], [ProductName], [Quantity], [Price], [IsServed]) VALUES (3, 5, 7, N'كريب نوتيلا', 1, CAST(5000 AS Decimal(18, 0)), 1)
GO
SET IDENTITY_INSERT [dbo].[OrderDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([Id], [OrderNumber], [OrderDate], [TotalAmount], [OrderStatus], [TableId]) VALUES (2, 1, CAST(N'2026-01-03T18:14:48.780' AS DateTime), CAST(11000 AS Decimal(18, 0)), N'Paid', 8)
INSERT [dbo].[Orders] ([Id], [OrderNumber], [OrderDate], [TotalAmount], [OrderStatus], [TableId]) VALUES (5, 2, CAST(N'2026-01-03T18:34:51.813' AS DateTime), CAST(15000 AS Decimal(18, 0)), N'Paid', 10)
INSERT [dbo].[Orders] ([Id], [OrderNumber], [OrderDate], [TotalAmount], [OrderStatus], [TableId]) VALUES (6, 3, CAST(N'2026-01-03T18:35:16.463' AS DateTime), CAST(17500 AS Decimal(18, 0)), N'Paid', 9)
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Id], [Name], [Price], [ImagePath], [IsKitchenItem], [CategoryId], [IsAvailable]) VALUES (1, N'وافل نوتيلا', CAST(5000 AS Decimal(18, 0)), N'dc4ebd62-780d-4067-852c-1e0318acc8fa.jpg', 1, 1, 1)
INSERT [dbo].[Products] ([Id], [Name], [Price], [ImagePath], [IsKitchenItem], [CategoryId], [IsAvailable]) VALUES (2, N'وافل لوتس', CAST(6000 AS Decimal(18, 0)), N'Images/Lutes.webp', 1, 1, 1)
INSERT [dbo].[Products] ([Id], [Name], [Price], [ImagePath], [IsKitchenItem], [CategoryId], [IsAvailable]) VALUES (3, N'وافل فواكه مشكل', CAST(6500 AS Decimal(18, 0)), N'Images/Mixed.jpg', 1, 1, 1)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[RestaurantTables] ON 

INSERT [dbo].[RestaurantTables] ([Id], [TableNumber], [TableName], [Status]) VALUES (1, 1, N'VIP', 0)
INSERT [dbo].[RestaurantTables] ([Id], [TableNumber], [TableName], [Status]) VALUES (2, 2, N'طاولة الشباك', 0)
INSERT [dbo].[RestaurantTables] ([Id], [TableNumber], [TableName], [Status]) VALUES (3, 3, N'الوسط', 0)
SET IDENTITY_INSERT [dbo].[RestaurantTables] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Username], [PasswordHash], [SecurityQuestion], [SecurityAnswerHash], [Role]) VALUES (1, N'admin', N'WZRHGrsBESr8wYFZ9sx0tPURuZgG2lmzyvWpwXPKz8U=', N'ما هو الكود الافتراضي؟', N'A6xnQhbz4Vx2HuGl4lXwZ5U2I8iziLRFnhP5eNfIRvQ=', N'Admin')
INSERT [dbo].[Users] ([Id], [Username], [PasswordHash], [SecurityQuestion], [SecurityAnswerHash], [Role]) VALUES (2, N'Sajjad', N'MjzmCUVC8ZX+mjT48E5I1R+3u1RhqdGDm5z6UnIES+8=', N'whats your name?', N'YVfWu26So6vTiei6wWYOxolj9QzTd9RJxSGhv4e+qg4=', N'Cashier')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[OrderDetails] ADD  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((0.0)) FOR [TotalAmount]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (N'Open') FOR [OrderStatus]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsKitchenItem]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsAvailable]
GO
ALTER TABLE [dbo].[RestaurantTables] ADD  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK__OrderDeta__Order__46E78A0C] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK__OrderDeta__Order__46E78A0C]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK__OrderDeta__Produ__47DBAE45] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK__OrderDeta__Produ__47DBAE45]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK__Orders__TableId__440B1D61] FOREIGN KEY([TableId])
REFERENCES [dbo].[RestaurantTables] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK__Orders__TableId__440B1D61]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK__Products__Catego__3E52440B] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK__Products__Catego__3E52440B]
GO
